.header-wrapper {
  @media screen and (max-width: 640px) {
    &.flex {
      height: auto;
      gap: var(--space-10) 0;
      flex-direction: column;
      align-items: flex-start;
      padding: var(--space-10) var(--space-12);
      justify-content: center;
    }
  }
}
